---
sitemap: false
---

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";

#bannerimage {
	width: 100%;
	background-image: url(http://www.mycpu.org/images/voidstar_2000x2000.png);
	height: 405px;
	background-size: cover;
	background-position: center;
}
