---
sitemap: false
---

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";



// font-family: 'Cardo', serif;

// font-family: 'Lato', sans-serif;

.css-selector {
font-family: 'Cardo', serif;
}

#bannerimage {
	width: 100%;
	background-image: url(http://www.mycpu.org/images/voidstar_2000x2000.png);
	height: auto;
	background-size: cover;
	background-position: center;
}
