<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include google_analytics.html %}

{% include _disqus_comments.html %}

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      </footer>
    </div><!-- /.article-wrap -->
    <h1 id="my-podcast">My Podcast!</h1>
<p>If you like topics such as this then please consider subscribing to my
podcast. I talk to some of the stalwarts in tech and ask them what their
favorite productivity hacks are:</p>

<h3 id="available-on-itunes-podcast">Available on iTunes Podcast</h3>
<p>Visit Void Star Podcast’s page on iTunes Podcast Portal. Please Click ‘Subscribe’, leave a comment.</p>

<p><a href="https://itunes.apple.com/us/podcast/voidstar-podcast/id1332549527"><img src="/images/itunes.svg" alt="Get it iTunes" /></a></p>

<h3 id="available-on-google-play-music">Available on Google Play Music</h3>
<p>Visit Void Star Podcast’s page on Google Play Music. Please Click ‘Subscribe’ and leave a comment.</p>

<div>
<a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/I46jz5f2f345iw4a5kw3umtbela?t%3DVoidStar_Podcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" rel="nofollow"><img width="50px" alt="Listen on Google Play Music" src="https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png" /></a>
</div>

<h3 id="available-on-stitcher">Available on Stitcher</h3>
<p>Visit Void Star Podcast’s page on Sticher. Please Click ‘Subscribe’ and leave a comment.</p>

<div>
<a href="https://www.stitcher.com/s?fid=162759&amp;refid=stpr"><img src="https://secureimg.stitcher.com/promo.assets/stitcher-banner-180x120.jpg" width="50" height="50" alt="Listen to Stitcher" /></a>
</div>

<h2 id="your-app-not-listed-here-not-an-issue">Your app not listed here? Not an issue..</h2>
<p>You should be able to search for ‘VoidStar Podcast’ on your favorite app.
Most apps use one of the above sources for listing podcasts. This was tested on
<code class="language-plaintext highlighter-rouge">Podcast Addict</code> (where you can also specify the search engine) and <code class="language-plaintext highlighter-rouge">RatPoison</code> on Android.</p>

  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  {% if site.related_posts.size > 0 %}
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  {% endif %}
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
</html>
